<header class="header">
  <div class="header__logo__container">
    <img src="assets/logo_p6.png" alt="Logo MDD" class="header__logo" />
  </div>

  <!-- Nav Desktop -->
  <nav class="header__links">
    <ul class="header__links__items">
      <li class="item">
        <a class="btn-logout" (click)="logOut()">Se déconnecter</a>
      </li>
      <li class="item">
        <a routerLink="/posts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="btn-small">Articles</a>
      </li>
      <li class="item">
        <a routerLink="/topics" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="btn-small">Thèmes</a>
      </li>
      <li class="item">
        <a routerLink="/user" routerLinkActive="active-icon" [routerLinkActiveOptions]="{ exact: true }">
          <img src="assets/circle-user-solid.svg" alt="User" class="header__icon" />
        </a>
      </li>
    </ul>
  </nav>
</header>

<!-- Sidebar -->
<aside class="sidebar" [class.open]="asideOpen">
  <nav class="sidebar__nav">
    <ul>
      <li><a class="btn-logout-mobile" (click)="logOut()">Se déconnecter</a></li>
      <li><a routerLink="/posts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleAside()">Articles</a></li>
      <li><a routerLink="/topics" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleAside()">Thèmes</a></li>
    </ul>
  </nav>
  <div class="sidebar__footer">
    <a routerLink="/user" routerLinkActive="active-icon" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleAside()">
      <img src="assets/circle-user-solid.svg" alt="User" class="sidebar__icon" />
    </a>
  </div>
</aside>

<button class="hamburger" (click)="toggleAside()">☰</button>
<div class="overlay" [class.show]="asideOpen" (click)="toggleAside()"></div>
