<div class="main">
  <div class="header">
    <a (click)="back()">
      <img src="assets/fleche-pointant-vers-la-gauche.png" alt="flèche back" class="back-arrow" />
    </a>
    <h2>Créer un nouvel article</h2>
  </div>

  <div class="form-container">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <select formControlName="topicId">
        <option value="">Sélectionner un thème</option>
        <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</option>
      </select>

      <input type="text" formControlName="title" placeholder="Titre de l'article" />
      <textarea formControlName="content" placeholder="Contenu de l'article"></textarea>
      <button type="submit" [disabled]="postForm.invalid">Créer</button>
    </form>
  </div>
</div>
